.carousel ul li {background: url(../img/Photography/Andromida/Andromida/1.jpg) center center / cover no-repeat; }
.carousel ul li:nth-child(2) {background-image: url(../img/Photography/Andromida/Andromida/2.jpg);}
.carousel ul li:nth-child(3) {background-image: url(../img/Photography/Andromida/Andromida//3.jpg);}
.carousel ul li:nth-child(4) {background-image: url(../img/Photography/Andromida/Andromida//4.jpg);}
.carousel ul li:nth-child(5) {background-image: url(../img/Photography/Andromida/Andromida//5.jpg);}
.carousel ul li:nth-child(6) {background-image: url(../img/Photography/Andromida/Andromida//6.jpg);}
.carousel ul li:nth-child(7) {background-image: url(../img/Photography/Andromida/Andromida//7.jpg);}
.carousel ul li:nth-child(8) {background-image: url(../img/Photography/Andromida/Andromida//8.jpg);}
.carousel ul li:nth-child(9) {background-image: url(../img/Photography/Andromida/Andromida//9.jpg);}
.carousel ul li:nth-child(10) {background-image: url(../img/Photography/Andromida/Andromida/10.jpg);}
.carousel ul li:nth-child(11) {background-image: url(../img/Photography/Andromida/Andromida/11.jpg);}
.carousel ul li:nth-child(12) {background-image: url(../img/Photography/Andromida/Andromida/12.jpg);}
.carousel ul li:nth-child(13) {background-image: url(../img/Photography/Andromida/Andromida/13.jpg);}
.carousel ul li:nth-child(14) {background-image: url(../img/Photography/Andromida/Andromida/14.jpg);}